name: publish

on:
  - push

jobs:
  setup:
    runs-on: ubuntu-latest
    outputs:
      publish-options: ${{ steps.publish.outputs.options }}
    timeout-minutes: 5
    steps:
      - id: publish
        run: |
          set -x
          if [ "$GITHUB_REF_TYPE" == 'tag' ] && [[ "$GITHUB_REF_NAME" =~ ^v.* ]]
          then
            echo 'options=' | tee -a "$GITHUB_OUTPUT"
          else
            echo 'options=--dry-run' | tee -a "$GITHUB_OUTPUT"
          fi
  jsr:
    name: jsr ${{ needs.setup.outputs.publish-options }}
    needs: setup
    runs-on: ubuntu-latest
    permissions:
      contents: read
      id-token: write
    timeout-minutes: 10
    steps:
      - uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8 # v6.0.1
      - uses: actions/setup-node@6044e13b5dc448c55e2357c09f80417699197238 # v6.2.0
        with:
          node-version-file: package.json
          registry-url: "https://registry.npmjs.org"
      - run: npm ci --ignore-scripts
      - run: npm rebuild && npm run prepare --if-present
      - run: npx deno publish ${{ needs.setup.outputs.publish-options }}
  npm:
    name: npm ${{ needs.setup.outputs.publish-options }}
    needs: setup
    runs-on: ubuntu-latest
    permissions:
      contents: read
      id-token: write
    timeout-minutes: 10
    steps:
      - uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8 # v6.0.1
      - uses: actions/setup-node@6044e13b5dc448c55e2357c09f80417699197238 # v6.2.0
        with:
          node-version-file: package.json
          registry-url: "https://registry.npmjs.org"
      - run: npm ci --ignore-scripts
      - run: npm rebuild && npm run prepare --if-present
      - run: npm publish ${{ needs.setup.outputs.publish-options }}
        env:
          NODE_AUTH_TOKEN: ${{ secrets.NPM_TOKEN }}
  release:
    needs:
      - jsr
      - npm
    runs-on: ubuntu-latest
    timeout-minutes: 5
    steps:
      - uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8 # v6.0.1
      - run: gh release create '${{ github.ref_name }}' --generate-notes --verify-tag
        env:
          GH_TOKEN: ${{ secrets.GITHUB_TOKEN }}
        continue-on-error: true
