name: test

on:
  - push
  - pull_request

jobs:
  test:
    name: ${{ matrix.command }}
    strategy:
      fail-fast: false
      matrix:
        command:
          - npm run lint:check
          - npm run lint:fmt
          - npm run lint:lint
          - npm run test:doc
          - npm run test:unit
          - npx deno task test:unit
          - npx bun run test:unit
    runs-on: ubuntu-latest
    timeout-minutes: 10
    steps:
      - uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8 # v6.0.1
      - uses: actions/setup-node@6044e13b5dc448c55e2357c09f80417699197238 # v6.2.0
        with:
          node-version-file: package.json
      - run: npm ci --ignore-scripts
      - run: npm rebuild && npm run prepare --if-present
      - run: ${{ matrix.command }}
  browser:
    name: ${{ matrix.browser }}
    strategy:
      fail-fast: false
      matrix:
        browser:
          - chromium
          - firefox
          - webkit
    runs-on: ubuntu-latest
    timeout-minutes: 10
    steps:
      - uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8 # v6.0.1
      - uses: actions/setup-node@6044e13b5dc448c55e2357c09f80417699197238 # v6.2.0
        with:
          node-version-file: package.json
      - run: npm ci --ignore-scripts
      - run: npm rebuild && npm run prepare --if-present
      - run: npx playwright install --with-deps --only-shell ${{ matrix.browser }}
      - run: npx vitest run --browser=${{ matrix.browser }} --browser.provider=playwright --browser.headless
